{% extends "base.html" %} {% block body %}

  <header>Login</header>
  <div class="container">
    <form id="login-form" action="{{ url_for('login') }}" method="POST">
     
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" class="input-field" >
        <!-- <div>class="error-email"</div> -->
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" class="input-field" >
        <!-- <div>class="error-password"</div> -->
      </div>

      <div>
        <input type="submit" value="Log in" class="btn btn-dark btn-lg">
      </div>
      
      <!-- add signup button to take user to register.html -->
      <div>
        <a href="register.html"><button>Sign Up</button></a>
      </div>

    </form>
  </div>
    
{% endblock %}
    